/** Class that sets the CSS for a BarChart.
 * @author JSSP Engineers
 * @version 1.0
 */

.default-color0.chart-pie { -fx-pie-color: #e74c3c; } 
.default-color1.chart-pie { -fx-pie-color: #2ecc71; }
.default-color2.chart-pie { -fx-pie-color: #e67e22; }
.default-color3.chart-pie { -fx-pie-color: #9b59b6; }

.chart{
	-fx-start-angle:180;
	-fx-pie-label-visible:true;
	-fx-label-line-length:-75; /* push the labels to the center */
	-fx-background: #ecf0f1; /* White clouds */
}


.chart-content{
	-fx-padding:-80; /* Size of the graph minus is more */
	
}

.chart-pie-label{
	-fx-font-size: 25;
	/*-fx-font: 20 qontra_reg;*/
	-fx-font-family: Orkney-Regular;
}

.chart-legend {
  	-fx-background-color: transparent;
  
  
}
